// NAVIGATION
////////////////////////////
.nav {

	position: relative; // for dropdown

	> ul { position: relative; margin: 0; display: inline; }

	&--item {
		display: inline-block;
		color: $txt-color;
		transition: .2s;
		font-size: .875rem;
		margin-left: -3px;


    	a {
			padding: 10px 15px;
			display: block;
			color: inherit;
		}

		&:hover, &.is-current { color: $prim-color; }
  	}

	&--icon { cursor: pointer; }

	&--item:first-child { margin-left: 0; }

}



// DROPDOWN
////////////////////////////
.nav-drop {
	position: relative; // to absolute the sub menu
	padding-right: 10px; // for indicator

	&::before, &::after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		background: $txt-color;
		transition: .2s;
	}

	&::before {
		height: 1px;
		width: 7px;
		right: 9px;
	}

	&::after {
		height: 7px;
		width: 1px;
		right: 12px;
	}

	&.is-open {
		@extend .is-current;

		&::after { height: 0; }

		.nav-sub { z-index: 2; }
	}

	&:hover > ul { // ul to not repeat for sub + deep
		visibility: visible;
		opacity: 1;
	}

}



// NAV SUB
////////////////////////////
.nav-sub {
	position: absolute;
	left: 0;
	top: 100%; // offset for border
	z-index: 1;
	min-width: 100%;
	visibility: hidden;
	backface-visibility: hidden;
	opacity: 0;
	transition: .4s;

	&--item {
		@extend .nav--item;
		display: block;
		border: 0;
		margin-left: 0;
		background: $gray-lightest;
		white-space: nowrap;

	}

}


// NAV DEEP (Sub level 2)
////////////////////////////
.nav-deep {
	position: absolute;
	top: 0;
	right: 100%;
	min-width: 100%;
	backface-visibility: hidden;
	opacity: 0;
	transition: .4s;

	&--item { @extend .nav-sub--item; }
}


// NAV HANDLER
////////////////////////////
.nav-handler {
	width: 30px;
	cursor: pointer;
	display: none;

	&:hover span { background: darken($prim-color, 15%); }

	&.is-active span:nth-child(1) { transform: translate(0, 10px) rotate(45deg) }
	&.is-active span:nth-child(2) { opacity: 0; }
	&.is-active span:nth-child(3) { transform: translate(0, -10px) rotate(-45deg) }

	//line
	span {
		height: 4px;
		display: block;
		border-radius: 3px;
		background: $prim-color;
		margin-bottom: .6em;
		backface-visibility: hidden; // fix 1 Pixel off in Chrome
		transition: .4s;

		&:last-child { margin-bottom: 0; }
	}

}




// QUERIES
////////////////////////////
@media(min-width: $sm-up) { .nav { display: block !important; } } // DISAPPEARING FIX

@media(max-width: $xs) {

	.nav {
		display: none;
		width: 100%;
		height: 100%;
		overflow-x: scroll;
		position: fixed;
		top: 0;
		right: 0;
		transform: translate(100%, 0);
		transition: transform .4s $ease-out-quad;

		.nav-handler.is-active + & {
			transform: translate(0, 0);
		}

	}

	.nav > ul { visibility: visible; opacity: 1; padding-top: 25px; }

	.nav--item {
		display: block;
		border: 0;
		margin-left: 0;
		width: 100%;
		text-align: left;
	}

	.nav-drop::before { height: 3px; width: 9px; right: 9px; bottom: auto; top: 20px; }
	.nav-drop::after { height: 9px; width: 3px;	right: 12px; bottom: auto; top: 17px; }

	.nav-sub { position: relative; top: auto; left: 10px; }

	.nav-deep { position: relative; right: 0; top: auto; left: 10px; }

	.nav-handler { display: block; }

	.nav--icon {
		float: left;
		width: 50%;
		text-align: center;

		a { background: transparent; color: $txt-color; }

		&:hover, &:hover a  { color: $bg-color; background: $sec-color; }
	}



} // end query xs
