.nav {
	position: relative; // for dropdown

	> ul { position: relative; margin: 0; display: inline; }

	&__item {
		display: inline-block;
		color: $txt-color;
		transition: .2s;
		font-size: .875rem;
		margin-left: -3px;


    	a {
			padding: 10px 15px;
			display: block;
			color: inherit;
		}

		&:hover > a, &.is-current > a { color: $prim-color; }
  	}

	&__item:first-child { margin-left: 0; }

}



// DROPDOWN
////////////////////////////
.nav-drop {
	position: relative; // to absolute the sub menu

	> a { cursor: default; }

	&.is-open {
		@extend .is-current;

		&::after { height: 0; }

		.nav-sub { z-index: 2; }
	}

	&:hover > ul { // ul to not repeat for sub + deep
		visibility: visible;
		opacity: 1;
	}

}



// NAV SUB (Sub level 1)
////////////////////////////
.nav-sub {
	position: absolute;
	left: 0;
	top: 100%; // offset for border
	z-index: 1;
	min-width: 100%;
	visibility: hidden;
	backface-visibility: hidden;
	opacity: 0;
	transition: .4s;

	&__item {
		@extend .nav__item;
		display: block;
		border: 0;
		margin-left: 0;
		white-space: nowrap;

		a { background: $gray-lightest; }

	}

}


// NAV DEEP (Sub level 2)
////////////////////////////
.nav-deep {
	position: absolute;
	top: 0;
	right: 100%;
	min-width: 100%;
	backface-visibility: hidden;
	opacity: 0;
	transition: .4s;

	&--item { @extend .nav-sub__item; }
}


// NAV HANDLER
////////////////////////////
.nav-handler {
	width: 30px;
	cursor: pointer;
	display: none;
	//position: relative;
	//z-index: 10; // handler above nav overlay

	&:hover span { background: darken($prim-color, 15%); }

	&.is-active span:nth-child(1) { transform: translate(0, 10px) rotate(45deg) }
	&.is-active span:nth-child(2) { opacity: 0; }
	&.is-active span:nth-child(3) { transform: translate(0, -10px) rotate(-45deg) }

	span {
		height: 4px;
		display: block;
		border-radius: 3px;
		background: $prim-color;
		margin-bottom: .6em;
		backface-visibility: hidden; // fix 1 Pixel off in Chrome
		transition: .4s;

		&:last-child { margin-bottom: 0; }
	}

}


.nav-overlay {
    background-color: transparentize($black, .5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: .2s;

    &.is-visible {
        visibility: visible;
        pointer-events: auto;
        opacity: 1;
    }
}


// QUERIES
////////////////////////////
@media(min-width: $sm-up) { .nav { display: block !important; } } // DISAPPEARING FIX

@media(max-width: $xs) {

	.nav {
		width: 300px;
		height: 100%;
		overflow-y: auto;
		position: fixed;
		top: 0;
		right: 0;
		background: $white;
		box-shadow: -1px 0 4px rgba(0,0,0,.3);
		transform: translate(102%, 0); // 102% due to shadow
		will-change: transform;
		transition: transform .4s $ease-out-quad;

		&.is-visible {
			transform: translate(0, 0);
		}

		a { padding: 15px; }

	}

	//.nav > ul { margin-top: 75px; }

	.nav ul {
		visibility: visible;
		opacity: 1;
		display: block;
	}

	.nav__item {
		display: block;
		border: 0;
		margin-left: 0;
		padding-right: 0;
		width: 100%;
		text-align: left;
	}

	.nav-sub,
	.nav-deep {
		position: relative;
		top: auto;
		right: 0;
	}

	.nav-deep__item a {
		background: $gray-lighter;
	}


	.nav-handler { display: block; }


} // end query xs
