.container,
.container-fluid {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: $grid-gutter / 2;
    padding-left: $grid-gutter / 2;

    @media(min-width: $sm-up) { width: 100%; }
    @media(min-width: $md-up) { width: 720px; max-width: 100%; }
    @media(min-width: $lg-up) { width: 960px; max-width: 100%; }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: $grid-gutter / -2;
    margin-right: $grid-gutter / -2;
}

.no-gutters {
    margin-left: 0;
    margin-right: 0;

    & > .col,
    & > [class^="col-"] {
        padding-left: 0;
        padding-right: 0;
    }
}

.col,
[class^="col-"] {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: $grid-gutter / 2;
    padding-right: $grid-gutter / 2;
}

////////////
// XS-UP
@include fullWidthColumn;
@include autoWidthColumn;

@include column(4);


////////////
// SM-UP
@media(min-width: $sm-up) {

    @include fullWidthColumn(sm);
    @include autoWidthColumn(sm);

    @include column(4, sm);
}

////////////
// MD-UP
@media(min-width: $md-up) {

    @include fullWidthColumn(md);
    @include autoWidthColumn(md);

    @include column(4, md);
}

////////////
// LG-UP
@media(min-width: $lg-up) {

    @include fullWidthColumn(lg);
    @include autoWidthColumn(lg);

    @include column(4, lg);
}
