
.container {
    position: relative;
    padding-right: $grid-gutter / 2;
    padding-left: $grid-gutter / 2;
    margin-left: auto;
    margin-right: auto;

    @media( min-width: $sm-up ) { max-width: 100%; }
    @media( min-width: $md-up ) { max-width: 960px; }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: $grid-gutter / -2;
    margin-right: $grid-gutter / -2;
}

.no-gutters {
    margin-left: 0;
    margin-right: 0;

    & > .col,
    & > [class^="col-"] {
        padding-left: 0;
        padding-right: 0;
    }
}

.col {
    flex: 1 0 0;
    max-width: 100%;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
}

[class^="col-"] {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: $grid-gutter / 2;
    padding-right: $grid-gutter / 2;
}


@mixin fullWidth($breakpoint) {
    .col-#{$breakpoint} {
        flex: 1 0 0;
        max-width: 100%;
    }
}

@mixin autoWidth($breakpoint) {
    .col-#{$breakpoint}-auto {
        flex: 0 0 auto;
        width: auto;
    }
}

@mixin columnLoop($class) {
    @for $i from 1 through $grid-columns {
        .#{$class}-#{$i} {
            flex: 0 0 (100% / $grid-columns * $i);
            max-width: 100% / $grid-columns * $i;
        }
    }
}

@include columnLoop(col);

@each $breakpoint in $breakpoints {

    @media(min-width: #{nth($breakpoint, 2)}) {
        @include fullWidth(#{nth($breakpoint, 1)});
        @include autoWidth(#{nth($breakpoint, 1)});
        @include columnLoop(#{nth($breakpoint, 1)});
    }

}
