
// VARIABLES
$font-main: "Roboto";
// @include('myFont')


// MAIN WRAPPER
html, body {
    height: 100%;
    overflow: auto;
}

html { font-size: 16px; }
body {
    background: #fff;
    font: 400 62.5%/1.5 $font-main, $font-family-sans-serif; // 10px
    //-moz-osx-font-smoothing: grayscale;
    //-webkit-font-smoothing: antialiased;

    @if $sticky-footer {
        display: flex;
        flex-direction: column;
    }
}

main {
    @if $sticky-footer { flex: 1 0 auto; }
}

// HEADINGS
h1 { font-size: 4em; margin-bottom: 50px; }
h2 { font-size: 3.2em; margin-bottom: 2vw; }
    h2 small { font-size: .7em; }
h3 { font-size: 2.8em; margin-bottom: 1.5vw; }
h4 { font-size: 2.4em; }
h5 { font-size: 2em; }
h6 { font-size: 1.6em; }


// CONTENT TAGS
a {
    color: $prim-color;
    text-decoration: none;
    transition: .4s;

    &:hover,
    &:active,
    &:focus {
        color: lighten($prim-color, 15%);
    }
}

p { font-size: 1.6em; color: $txt-color; }


// LISTS
ul, ol { padding-left: 0; list-style: none; }

.col ul {
    margin-left: 15px; // CMS fix

	li {
        position: relative;

		&:before {
            content: "■";
            color: $prim-color;
            left: -15px;
            font-size: 1em;
            line-height: 1;
            position: absolute;
        }
	}
}



// BUTTON
button, .btn {
    background: $prim-color;
    border: 0;
    color: $white;
    display: inline-block;
    font-size: 1.6em;
    padding: 0.313em 0.626em;    // 5px 10px
    transition: .2s;

    &:hover, &:active, &:focus {
        color: $white;
        background: lighten($prim-color, 10%);
    }
}


// TABLE
table {
    width: 100%;

    th, tr, td { padding: 1.2em; text-align: left; }

    th {
        background: $prim-color;
        color: white;
        border-right: 1px solid white;

        &:last-child { border: 0; }
    }

    tr {
        transition: .1s;

        &:nth-child(even) {
            background: lighten($sec-color, 25%);
        }
    }

    td {
        border-right: 1px solid $prim-color;
        padding: 1.2em;
        &:last-child { border: 0; }
    }


    &:hover {
        tr { background: transparent; color: $txt-color;
            &:hover { background: lighten($sec-color, 25%); }
        }
    }
}
