////////////
// CLEARFIX
@mixin clear() {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}


////////////
// FONT FACE
@mixin font-face($name, $weight: 400, $style: normal) {
    $filepath: "../assets/fonts/" + $name;
    @font-face {
        font-family: "#{$name}";
        font-style: $style;
        font-weight: $weight;
        text-rendering: auto;

        src: url($filepath + ".woff")  format('woff'),        // IE9+ and all others
             url($filepath + ".woff2") format('woff2'),       // modern browsers
             url($filepath + ".ttf")   format('truetype');    // Android 4+
    }

}

////////////////////////
// LAYOUT MIXINS
////////////
// SET INFIX
@function infix($breakpoint) {
    @return if($breakpoint == null, "", "-#{$breakpoint}");
}

////////////
// .col{-breakpoint}
@mixin fullWidthColumn($breakpoint: null) {

    .col#{infix($breakpoint)} {
        flex: 1 0 0;
        max-width: 100%;
    }
}

////////////
// .col{-breakpoint}-auto
@mixin autoWidthColumn($breakpoint: null) {

    .col#{infix($breakpoint)}-auto {
        flex: 0 0 auto;
        width: auto;
    }
}

////////////
// .col{-i}
@mixin column($i, $breakpoint: null) {

    .col#{infix($breakpoint)}-#{$i} {
        flex: 0 0 (100% / $grid-columns * $i);
        max-width: 100% / $grid-columns * $i;
    }
}

////////////
// .y{-breakpoint}-gutter
@mixin verticalGutter($breakpoint: null) {

    .y#{infix($breakpoint)}-gutter > .col,
    .y#{infix($breakpoint)}-gutter > [class^="col-"] {
        + .col,
        + [class^="col-"] {
            margin-top: $grid-gutter / 2;
        }
    }

}

////////////
// .{type}{-breakpoint}-{i}
@mixin reorder($type, $i, $breakpoint: null) {

    $attribute: null;

    @if $type == "pull" {
        $attribute: "right";

    } @else if $type == "push" {
        $attribute: "left";

    } @else if $type == "offset" {
        $attribute: "margin-left";

    } @else {
        @error "Invalid type. Use push, pull or offset."
    }


    .#{$type}#{infix($breakpoint)}-#{$i} {

        #{$attribute}: 100% / $grid-columns * $i;

    }
}
